# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
MoviesDict = {'Movie Name' : [], 'Year' : [], 'Rating' : []}

def movie_function(url):
    
    
    page = requests.get(url)
    
    
    
    soup = BeautifulSoup(page.content)



    MoviesList = []
    
    for i in soup.find_all('div', class_="lister-item-content"):
        MoviesList.append(i.text.split('\n'))
        MoviesDict['Rating'].append(i.find('div', class_="inline-block ratings-imdb-rating").text.split()[0])
    
    
    for i in MoviesList:    
        MoviesDict['Movie Name'].append(i[3])
        MoviesDict['Year'].append(i[4])

In [3]:
url1 = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc"
url2 = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt"

movie_function(url1)
movie_function(url2)

In [4]:
import pandas as pd

df = pd.DataFrame(MoviesDict)

In [5]:
df

                                       Movie Name    Year Rating
0                        The Shawshank Redemption  (1994)    9.3
1                                   The Godfather  (1972)    9.2
2                                 The Dark Knight  (2008)    9.0
3   The Lord of the Rings: The Return of the King  (2003)    9.0
4                                Schindler's List  (1993)    9.0
..                                            ...     ...    ...
95                             North by Northwest  (1959)    8.3
96                                        Vertigo  (1958)    8.3
97                            Singin' in the Rain  (1952)    8.3
98                                   Citizen Kane  (1941)    8.3
99              M - Eine Stadt sucht einen Mörder  (1931)    8.3

[100 rows x 3 columns]